:root {
    --primaryFont: "Maven Pro", sans-serif;
}

.o-header-navFlex {
    display: flex;
    gap: 2rem;
    padding-right: 3rem;

    &__nav {
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;

    }
}