@import "../../mixin";

.o-banner-bottom {
    position: absolute;
    top: 64%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint("sm") {
        top: 92%;
    }

    &__upper-text {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 1.5rem;

        color: var(--textBlack);

        @include breakpoint("sm") {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }

    &__mid-text {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--textColor);


        @include breakpoint("sm") {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;

        }

    }

    &__lower-text {
        text-align: center;
        font-size: var(--paraText);
        font-weight: 500;
        opacity: 0.8;
        margin-bottom: 2.5rem;
        color: var(--textBlack);
        max-width: 750px;

        @include breakpoint("sm") {
            margin: 0.5rem;
            font-size: 1.2rem;
        }
    }

    &__image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 30px #0003;
        filter: grayscale(0);
        transition: opacity .3s, filter 1s ease-in;

        @include breakpoint("sm") {
            width: 200px;
            height: 200px;
        }

    }

    &__image:hover {
        filter: grayscale(100%);
    }

    &__text--div {
        position: absolute;
        bottom: -1rem;
        left: 3%;
    }

    &__icon {

        display: flex;
        color: var(--textColor);
        justify-content: space-around;
        font-size: 1.7rem;
        cursor: pointer;

    }

    &__container {
        position: absolute;
        width: 100%;
        top: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin: 0 2rem;
        padding: 0 1rem;

        @include breakpoint("md") {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

        @include breakpoint("sm") {
            grid-template-columns: 1fr;
            margin: 0;
            row-gap: 3rem;
        }

    }

    &__container--image {
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    &__text {
        font-size: 10rem;
        font-weight: 600;
        opacity: 0.08;
        color: var(--textBlack);

        @include breakpoint("md") {
            display: none;
        }
    }

    &__dark-icon {
        position: fixed;
        right: 4%;
        bottom: 8%;
        z-index: 999999;

        @include breakpoint("sm") {
            right: 15%;
        }


        .svg-inline--fa {
            font-size: 1rem;
            color: var(--darkIcon);
        }


    }

    .svg-inline--fa {
        font-size: 2.5rem;
        cursor: pointer;


        @include breakpoint("sm") {
            font-size: 2rem;
        }
    }
}

#spin:after {
    content: "";
    width: 22ch;
    animation: spin 6s ease infinite;

}

@keyframes spin {
    0% {
        content: "Frontend Developer...";
    }

    50% {
        content: "Backend Developer...";
    }

    100% {
        content: "Fullstack developer...";
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}