@import "../../mixin";

.o-skill {
    margin-top: 2rem;

    &__container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        justify-content: center;
        margin-top: 4rem;

        @include breakpoint("sm") {
            margin-top: 2rem;
        }

    }

    &__content {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        background-color: var(--skillBackground);
        color: var(--hamBurgerMenu-white);
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    &__lottie {
        width: 95px;
        font-size: 3.5rem;
    }

    &__img {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    &__text {
        margin-bottom: 8px;
        font-size: 22px;
        font-weight: 700;
        width: 95px;

    }
}