@import "../../mixin";

.o-skill {
    margin-top: 5%;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2%;
        margin: 5%;
        row-gap: 5%;

        // @include breakpoint('md') {
        //     grid-template-columns: repeat(3, 1fr);
        // }

    }

    &__content {
        display: flex;
        align-items: center;
        padding: 5px 20px;
        background-color: rgba(153, 153, 153, 0.2);
        border-radius: 8px;
    }

    &__lottie {
        width: 95px;
    }

    &__text {
        margin-bottom: 8px;
        font-size: 22px;
        font-weight: 700;
        width: 95px;

    }
}