@import "../../mixin";

.o-banner {
    position: relative;
    display: flex;
    height: 400px;

    @include breakpoint("md") {
        padding-bottom: 15rem;
        height: 200px;
    }



    &__left {
        flex-basis: 50%;
        background: radial-gradient(at 40% 40%, rgb(30, 144, 255) 0px, transparent 50%), radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%), radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%), radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%), radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%), radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 50%), radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
        opacity: var(--opacity);
        filter: blur(100px) saturate(100%);
    }

    &__right {
        flex-basis: 50%;

    }

    &__cross {
        display: flex;
        justify-content: flex-end;
    }

    &__nav {
        padding-top: 15px;
        padding-left: 45px;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        cursor: pointer;
    }

    &__hello {
        width: 100px;

        @include breakpoint("sm") {
            display: none;
        }
    }

    &__about {
        @include breakpoint("sm") {
            display: none;
        }
    }

}

.o-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--pinkBackground);
    width: 350px;
    height: 400px;
    position: absolute;
    top: 5%;
    right: 2%;
    border-radius: 8px;
    z-index: 2;

    .svg-inline--fa {
        font-size: 2.5rem;
        cursor: pointer;
        color: #fff;
        padding-top: 20px;
        padding-right: 30px;
    }

    .svg-inline--fa:hover {
        color: black;
    }


}

.o-menu-hidden {
    display: none;
}