@import "../../mixin";

.o-experience {
    &__heading {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        color: var(--textColor);
        margin-top: 2rem;

        @include breakpoint("sm") {
            font-size: 2rem;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: 5%;

        @include breakpoint("md") {
            margin: 0 2rem;
        }

        @include breakpoint("sm") {
            display: block;
        }
    }

    &__container--left {
        flex-basis: 25%;

        @include breakpoint("md") {
            flex-basis: 40%;
        }

        @include breakpoint("sm") {
            display: none;
        }
    }

    &__container--right {
        padding-top: 2rem
    }

    &__container--right--sm {
        background-color: var(--pinkBackground);
        padding: 30px 320px 50px 40px;
        border-radius: 8px;
        color: #fff;

        @include breakpoint("md") {
            padding: 30px 125px 50px 40px;
        }

        @include breakpoint("sm") {
            max-width: 300px;
            margin: auto;
            padding: 1rem;
        }
    }

    &__container--right--sm--heading {
        font-size: 22px;
        font-weight: 600;
    }

    &__container--right--sm--content {
        font-size: 18px;
        font-size: 400;
    }
}