@import "../../mixin";

.o-intro {
    &__image {
        max-width: 550px;
        margin: auto;

        @include breakpoint("md") {
            max-width: 450px;
        }

        @include breakpoint("sm") {
            max-width: 200px;
        }
    }

    &__color {
        background-color: var(--pinkBackground);

        margin-top: -155px;
        height: 70vh;


    }

    &__text {
        padding: 7rem 4.5rem;
        color: #fff;

        @include breakpoint("md") {
            padding: 7rem 0 4rem 0;

        }

        @include breakpoint("sm") {
            padding: 7rem 2rem;

        }
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 800;
        text-align: center;
        margin-bottom: 1rem;

        @include breakpoint("sm") {
            font-size: 2rem;
            margin-top: 1rem;
        }
    }

    &__paragraph {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        padding: 1.5rem 2rem 0 2rem;

        @include breakpoint("sm") {
            font-size: 1.2rem;
        }
    }

    &__intro-content {
        margin-left: 5rem;
        margin-right: 5rem;
        border-radius: 1rem;
        background-color: var(--containerBackground);
        display: flex;
        justify-content: space-around;
        margin-top: -150px;
        flex-wrap: wrap;

        @include breakpoint("sm") {
            display: none;

        }
    }

    &__intro-content--left {
        flex-basis: 50%;
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__intro-content--right {
        flex-basis: 40%;
        padding-top: 1.5rem;


        @include breakpoint("sm") {
            display: none;
        }
    }

    &__intro-content--left--heading {
        font-size: 3.3rem;
        margin-bottom: 25px;
        font-weight: 600;
        color: var(--textColor);

        @include breakpoint("sm") {
            font-size: 2rem;
        }
    }

    &__intro-content--right--paragraph {
        font-size: 1.3rem;
        line-height: 1.6;
        margin-bottom: 1rem;
        color: var(--hamBurgerMenu-white);
    }
}